<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>CDs</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Préstamos y búsquedas de CDs</h1>
                <p class="lead fw-normal text-muted mb-0"><a th:href="@{/devoluciones}">¿Listo para devolver? ¡Presiona acá!</a></p>
                <div class="input-group my-5">
                    <input type="text" class="form-control" placeholder="Búsqueda" aria-label="Búsqueda" aria-describedby="btnBuscar">
                    <button class="btn btn-outline-secondary" type="button" id="btnBuscar"><i class="bi bi-search"></i></button>
                </div>

            </div>
            <div class="row gx-5">
                <div th:each="cd :${cds}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-5">
                        <a th:text="${cd.documento.titulo}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                    <!--                    <a class="btn btn-warning" th:href="@{/usuarios/{usuarioId}/edit(usuarioId=${usuario.id})}">Editar</a>-->
                    <!--                    <a class="btn btn-warning" th:href="@{/usuarios/{usuarioId}(usuarioId=${usuario.id})}">Detalles</a>-->
                </div>
            </div>
            <div class="row gx-5">
                <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Ubicación</th>
                        <th>Año publicación</th>
                        <th>Cantidades</th>
                        <th>Género</th>
                        <th>Duración</th>
                        <th>N° canciones</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cd : ${cds}">
                        <td th:text="${cd.documento.titulo}"></td>
                        <td th:text="${cd.documento.autor}"></td>
                        <td th:text="${cd.documento.ubicacionFisica}"></td>
                        <td th:text="${cd.documento.anoPublicacion}"></td>
                        <td th:text="${cd.documento.cantidadDisponible}"></td>
                        <td th:text="${cd.genero}"></td>
                        <td th:text="${cd.duracion}"></td>
                        <td th:text="${cd.numCanciones}"></td>
                        <td>
                            <a class="btn mx-2 btn-sm btn-warning">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn mx-2 btn-sm btn-danger"

                               data-bs-toggle="modal"
                               data-bs-target="#deleteConfirmationModal"
                            >
                                <i class="bi bi-trash-fill"></i>
                            </a>
<!--                            MODAL DELETE-->
                            <div class="modal fade modal-sm" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirmar eliminación</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Desea eliminar este registro?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a th:href="@{/documentos/cds/{cdId}/delete(cdId=${cd.id})}" class="btn btn-danger">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>


    </section>

</main>
</body>
</html>