<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}"
    >
    <head>
    <meta charset="UTF-8">
    <title>Crear CD</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/documentos/cds/new}" th:object="${cd}" class="row g-3">
                <div class="col-md-6">
                    <label for="artistaTxt" class="form-label">Artista</label>
                    <input type="text" name="artista" th:field="*{artista}" class="form-control" id="artistaTxt">
                </div>
                <div class="col-md-6">
                    <label for="generoTxt" class="form-label">Género de música</label>
                    <input type="password" name="genero" th:field="*{genero}" class="form-control" id="generoTxt">
                </div>
                <div class="col-md-6">
                    <label for="duracionTxt" class="form-label">Duración del álbum</label>
                    <input type="password" name="duracion" th:field="*{duracion}" class="form-control" id="duracionTxt">
                </div>
                <div class="col-md-6">
                    <label for="numCancionesTxt" class="form-label">Número de canciones del álbum</label>
                    <input type="password" name="numCanciones" th:field="*{numCanciones}" class="form-control" id="numCancionesTxt">
                </div>
                <div class="col-md-12">
<!--                    <label for=selectedDoc" class="form-label">Seleccione el documento relacionado</label>-->
                    <select class="form-select" th:name="selectedDoc" aria-label="Seleccione el documento relacionado" name="selectedDocu" id="selectedDoc">
                        <option th:each="doc : ${documento}" th:value="${doc.idDocumento}">[[doc.titulo]]</option>
                    </select>
                </div>

<!--                <div class="col-12">-->
<!--                    <label for="inputMora" class="form-label">Cantidad de mora</label>-->
<!--                    <input type="number" name="cantidadMora" th:field="*{cantidadMora}" class="form-control" id="inputMora">-->
<!--                </div>-->
<!--                <div class="col-12">-->
<!--                    <label for="inputTiempoMora" class="form-label">Tiempo de mora</label>-->
<!--                    <input type="text" name="tiempoMora" th:field="*{tiempoMora}" class="form-control" id="inputTiempoMora" placeholder="Moroso">-->
<!--                </div>-->
                <div class="col-md-4">
<!--                    <div class="col-12">-->
<!--                        <label for="inputTipoUsuario" class="form-label">Tiempo de usuario</label>-->
<!--                        <input type="text" name="tipoUsuario" th:field="*{tipoUsuario}" class="form-control" id="inputTipoUsuario" placeholder="Moroso">-->
<!--                    </div>-->
<!--                    <label for="inputTipoUsuario" class="form-label">Tipo de usuario</label>-->
<!--                    <select id="inputTipoUsuario" name="tipoUsuario" th:field="*{tipoUsuario}" class="form-select">-->
<!--                        <option selected>Alumno</option>-->
<!--                        <option>Docente</option>-->
<!--                        <option>Administrador</option>-->
<!--                    </select>-->
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Crear usuario</button>
                </div>
            </form>
        </div>
    </section>

</main>
</body>
</html>