<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Documentos</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Documentos generales</h1>
                <p class="lead fw-normal text-muted mb-0"><a th:href="@{/devoluciones}">¿Listo para devolver? ¡Presiona acá!</a></p>
                <div class="input-group my-5">
                    <input type="text" class="form-control" placeholder="Búsqueda" aria-label="Búsqueda" aria-describedby="btnBuscar">
                    <button class="btn btn-outline-secondary" type="button" id="btnBuscar"><i class="bi bi-search"></i></button>
                </div>

            </div>
            <div class="row gx-5 my-4">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header text-center">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Otras categorías de documentos
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body d-flex flex-wrap justify-content-between">
                                <a th:href="@{/documentos/cds}"
                                   class="btn btn-outline-secondary btn-lg rounded-square me-2"
                                   style="width: 10rem;">CDs</a>
                                <a th:href="@{/documentos}"
                                   class="btn btn-outline-dark rounded-square me-2"
                                   style="width: 10rem; ">DVDs</a>
                                <a class="btn btn-outline-info rounded-square me-2"
                                   style="width: 10rem;">Libros</a>
                                <a class="btn btn-outline-primary rounded-square me-2"
                                   style="width: 10rem;">Revistas</a>
                                <a class="btn btn-outline-warning rounded-square me-2"
                                   style="width: 10rem;">Tesis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Ubicación</th>
                            <th>Año publicación</th>
                            <th>Cantidades</th>
                            <th>Estado</th>
                            <th>Tipo Doc</th>
                            <th>Materias asociadas</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doc : ${docs}">
                            <td th:text="${doc.titulo}"></td>
                            <td th:text="${doc.autor}"></td>
                            <td th:text="${doc.ubicacionFisica}"></td>
                            <td th:text="${doc.anoPublicacion}"></td>
                            <td th:text="${doc.cantidadDisponible}"></td>
                            <td th:text="${doc.estado}"></td>
                            <td th:text="${doc.tipoDocumento.nombreTipo}"></td>
                            <td>
                                <span th:if="${doc.materia.isEmpty()}">No hay materias asociadas</span>
                                <span th:each="materia : ${doc.materia}">
                                    <span th:text="${materia.nombre}"></span>
                                </span>
                            </td>
<!--                            <td th:each="materia : ${doc.materia}">-->

<!--                            </td>-->
                            <td>
                                <a class="btn mx-2 btn-sm btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn mx-2 btn-sm btn-danger"

                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteConfirmationModal"
                                >
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                                <!--                            MODAL DELETE-->
                                <div class="modal fade modal-sm" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirmar eliminación</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Desea eliminar este registro?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
<!--                                                <a th:href="@{/documentos/cds/{cdId}/delete(cdId=${cd.id})}" class="btn btn-danger">Eliminar</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </section>

</main>
</body>
</html>