<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>CDs</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Préstamos y búsquedas de CDs*</h1>
                <p class="lead fw-normal text-muted mb-0"><a th:href="@{/devoluciones}">¿Listo para devolver? ¡Presiona acá!</a></p>
            </div>
            <div class="row gx-5">
                <div th:each="cd :${cds}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-5">
                        <a th:text="${cd.documento.titulo}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                    <!--                    <a class="btn btn-warning" th:href="@{/usuarios/{usuarioId}/edit(usuarioId=${usuario.id})}">Editar</a>-->
                    <!--                    <a class="btn btn-warning" th:href="@{/usuarios/{usuarioId}(usuarioId=${usuario.id})}">Detalles</a>-->
                </div>
            </div>
            <!--            <div class="row gx-5">-->
            <!--                <table>-->
            <!--                    <thead>-->
            <!--                        <tr>-->
            <!--                            <th></th>-->
            <!--                        </tr>-->
            <!--                    </thead>-->
            <!--                </table>-->
            <!--            </div>-->
        </div>
    </section>

</main>
</body>
</html>