<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Detalles usuario</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="${usuario.nombreUsuario}"></h1>
                    <p class="lead mb-0">Usuario random</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
<!--                            <div class="small text-muted" th:text="${usuario.tipoUsuario}"></div>-->
<!--                            <h2 class="card-title" th:if="${usuario.tiempoMora} gt 0 or ${usuario.cantidadMora} gt 0">El usuario tiene mora</h2>-->
<!--                            <h2 class="card-title" th:if="${usuario.tiempoMora} eq 0 and ${usuario.cantidadMora} eq 0">El usuario no tiene mora</h2>-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" th:href="@{/usuarios/{usuarioId}/delete(usuarioId=${usuario.id})}">Eliminar usuario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>